<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %5p %40.40c:%4L - %m%n</pattern>
		</encoder>
	</appender>

	<root level="warn">
		<appender-ref ref="console" />
	</root>

	<!--<logger name="log4j.logger.org.apache.jasper.compiler.TldLocationsCache" level="debug" />
	<logger name="org.apache.tiles" level="warn" />
	<logger name="org.apache.commons" level="warn" />
	<logger name="org.hibernate" level="warn" />
	<logger name="org.dozer" level="warn" />
	<logger name="org.springframework" level="error" />
	<logger name="org.springframework.boot.autoconfigure.security" level="info" />-->

	<logger name="com.tz.tpcs" level="debug" />
	<logger name="org.springframework" level="info" />
	<!--<logger name="com.tz.tpcs.service.security" level="warn" />-->

</configuration>
