/******
 * 本项目案例的主要样式文件
 * author: yejf
 * date: 2015/1/17
 */

.footer {
    background-color: #f5f5f5;
    margin-top: 70px;
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.gap{
    margin-top: 70px;
}

#editor {
    max-height: 250px;
    height: 250px;
    background-color: white;
    border-collapse: separate;
    border: 1px solid rgb(204, 204, 204);
    padding: 4px;
    box-sizing: content-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px; border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;
}
#voiceBtn {
    width: 20px;
    color: transparent;
    background-color: transparent;
    transform: scale(2.0, 2.0);
    -webkit-transform: scale(2.0, 2.0);
    -moz-transform: scale(2.0, 2.0);
    border: transparent;
    cursor: pointer;
    box-shadow: none;
    -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu a {
    cursor: pointer;
}

/* employee/list_employee.html
   add by yejf
 */

.content-body{
    overflow: hidden;
    background-color: #f5f5f5;
}
.content-body .left-side{
    width: 219px;
    min-height: 550px;
    border-right: 1px solid #d2d2d2;
    overflow:hidden;
    background-color: #f4f7fa;
}
.center{
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: larger;
    text-align: center;
    color: #0a6aa1;
    border-bottom: 2px solid #e8e8e8;
    margin-bottom: 10px;
}
.left{
    float: left;
}

.content-body .right-side{
    margin-left: 220px;
    min-height: 550px;
    padding: 15px 10px 0px 10px;
    background-color: #ffffff;
}

#dept-show{
    font-size: 16pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 15px;
}
.dept-action{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 12px;
}
